body {
  margin: 0;
  font-family: "Roboto", "Arial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #d5d4d4;
}

.App {
  max-width: 1080px;
  margin: 20px auto;
}

/* Current Weather Style */

.weather {
  width: 300px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 15px;
  margin-top: 30px;
  margin: 20px auto;
  color: #fff;
}
.weather .top,
.weather .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather .top .city {
  font-weight: bold;
  font-size: 22px;
}
.weather .top .weather-description {
  font-size: 16px;
  line-height: 1;
}
.weather .weather-icon {
  width: 100px;
}

.weather .bottom {
}
.weather .bottom .temp {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -5px;
  margin: 10px 0px;
}
.weather .bottom .details {
  width: 100%;
  padding-left: 20px;
}
.weather .bottom .details .parameter-row {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
}
.weather .bottom .details .parameter-label {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}
.weather .bottom .details .parameter-value {
  font-weight: 600;
  font-size: 18px;
}
.parameter-row-top {
  border-bottom: 0.5px solid #fff;
}

/* Forecast Styling */

.title {
  font-size: 24px;
  font-weight: 400;
}
.daily {
  border: 1px solid;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.icon-small {
  width: 50px;
}
.day {
  font-size: 18px;
  flex: 1 1;
}
.description {
  flex: 1 1;
}

.min-max {
  padding-right: 18px;
}

.daily-details-grid {
  display: grid;
  gap: 0px 12px;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 12px;
}
.daily-details-grid-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.daily-details-grid-item label:first-child {
  color: #716161;
}
.daily-details-grid-item label:last-child {
  color: #191717;
}
