body {
  margin: 0;
  font-family: "Roboto", "Arial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #d5d4d4;
}

.App {
  max-width: 1080px;
  margin: 20px auto;
}

/* Current Weather Style */

.weather {
  width: 350px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 15px;
  margin-top: 30px;
  margin: 20px auto;
  color: #fff;
}
.weather .top,
.weather .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather .top .city {
  font-weight: bold;
  font-size: 22px;
}
.weather .top .weather-description {
  font-size: 16px;
  line-height: 1;
}
.weather .weather-icon {
  width: 100px;
}

.weather .bottom .temp {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -5px;
  margin: 10px 0px;
}
.weather .bottom .details {
  width: 100%;
  padding-left: 20px;
}
.weather .bottom .details .parameter-row {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
}
.weather .bottom .details .parameter-label {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}
.weather .bottom .details .parameter-value {
  font-weight: 600;
  font-size: 18px;
}
.parameter-row-top {
  border-bottom: 0.5px solid #fff;
}

/* Forecast Styling */

.title {
  font-size: 24px;
  font-weight: 400;
}

.icon-small {
  width: 60px;
}

.description {
  flex: 1 1;
}

.accordion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 40px;
}
.daily {
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 15px;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.daily label {
  line-height: 1.8;
}

.daily-details-grid {
  display: grid;
  gap: 20px 5px;
  grid-template-columns: auto auto;
  text-align: start;
}
.daily-details-grid-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
}

.daily-details-grid-item label:last-child {
  color: #d4caca;
}
.daily-details-grid-item label {
  color: #fff;
  margin: 7px;
  font-size: 22px;
}

.min-max {
  margin-bottom: 15px;
}
